@import "../bower_components/meyer-reset/stylesheets/_meyer-reset.scss";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/font-awesome/css/font-awesome.css";

$mainGreen: #56DBB7;
$darkGray: #7B7B7B;
$lightGray: #F4F4F4;
$fontStack: "Roboto", arial, sans-serif;
$headerFontSize: 2em;

body {
  width: 100%;
  margin: 0 auto 0;
  font-family: $fontStack;
  color: $darkGray;
}

.left-arrow {
  position:absolute;
  bottom: 7.95em;
  left: 3.25%;
  font-size: $headerFontSize + 1.05em;
  cursor: pointer;
}

header {
  margin-top: 2.5em;
  padding-bottom: .15em;
  text-align: center;
  font-weight: 400;
  border-bottom: .15em solid $lightGray;

  h1 {
    position: relative;
    bottom: .5em;
    display: inline-block;
    font-size: $headerFontSize;
  }
} // end header

main {

  font-size: $headerFontSize - .35em;
  font-weight: 300;
  width: 100%;

  form {
    margin-top: 1em;
  }

  label {
    display: block;
    margin: 1em 0 .35em 2.45%;
  }

  input {
    display: block;
    width: 95%;
    margin: 0 auto 0;
    font-size: $headerFontSize - .75em;
    color: $darkGray;
  }

  .fa-map-marker {
    position:absolute;
    bottom: 16.55em;
    right: 3.25%;
    // font-size: $headerFontSize + 1.05em;
  }

  .fa-calendar {
    position:absolute;
    bottom: 8.45em;
    right: 3.25%;
  }

  .fa-clock-o {
    position:absolute;
    bottom: 4.35em;
    right: 3.25%;
  }

  .needs-bottom-border {
    border-bottom: .1em solid $lightGray;
  }
} // end main

footer {
  position: fixed;
  bottom: 0;
  right: .2px;
  width: 100%;
  height: 2.9em;
  background-color: $mainGreen;
  cursor: pointer;

  h2 {
    text-align: center;
    margin-top: .75em;
    font-size: $headerFontSize - .75em;
    font-weight: 500;
    color: #fff;
  }
}
